*{
	margin: 0;
	padding: 0;
}
a{	text-decoration: none;}
/* Create an active/current tablink class */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
 background: -webkit-gradient( linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF) );
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-left: 1px solid #ccc;
  width: 33.333%;
  padding: 10px 0;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background: #ccc;
}
.tab button.active {
  background: -webkit-gradient( linear, left top, left 40, from(#FFFFFF), color-stop(5%, #ff9900), to(#FFFFFF) );
}
.tabcontent1 {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.wrapper{
	clear: both;
	width: 100%;
		height:560px;
}
.wrapper .tab-content{
	width: 30%;
	float: left;

}

.wrapper .style-newspaper{
	width: 70%;
	float: left;
}

.footer{
    background-color: black;
    display: inline-block;
    width: 100%;
    height: 65px;
    line-height: 65px;
    color: white;
    margin-bottom: -4px;
}
#overflow1{
	height: 470px; 
	transition: 0.4s;
}
#wrapper-left{height: 470px;overflow: auto;}
#full{transition: 0.4s;}
#overflow2{
	height: 502px;
    overflow: auto;
}
.header-newspaper{
    background-color: black;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.title-couser{
	display: inline;
}
.header-newspaper .goback{
	color: #fff;
    float: right;
	background-color: red;
    height: 25px;
    width: 40px;
    margin-top: 8px;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
}
.header-newspaper .goback:hover{
	background-color: #ea1b1b;
}
.size-medium{
	border: 5px solid #444444;
    padding: 20px 10px;
}
.course-title{
    border: 1px solid #ccc;
    color: bac;
    text-align: center;
    font-weight: 900;
    padding: 12px 0;
    background: -webkit-gradient( linear, left top, left 48, from(#FFFFFF), color-stop(5%, #ff9900), to(#FFFFFF) );
}
.content-item,.content-list{
	width: 100%;
}
.content-list .active{
   background: darkgrey;
}
.content-list .content-item:hover{background: #ccc}
.content-item{
	height: 35px;
}
.item-title,.item-title1{
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 0 15px;	
}
.item-title a{
    color: #1f1f1e;
}
.item-title1 a{
	text-decoration: none;
    color: #000;
	font-weight: 900;
}
.course-progress-bar{
	width:33%;
	float:left;
	height: 65px;
}
.course-progress-bar .current-progress{
	width: 85%;
    display: inline-block;
	font-size: 20px;
    padding-left: 40px;
}
.nav-content{
	    width: 16%;
    float: left;
    margin: 0 20px;
    padding: 0px 100px;
}
.nav-content .col-xs-6{
	float:left;
    margin: inherit;
}
.nav-content .col-xs-6 a{
	border: 2px solid;
    color: #fff;
   padding: 7px 9px;
    border-radius: 50%;
}

.course-complete{
	width:33%;
	float:left;
	height: 65px;
}
.course-complete a{
	    color: #fff;
    font-size: 20px;
    font-weight: 900;
}
.course-complete a .qua{
    border: 2px solid;
    padding: 3px 11px 7px;
    font-size: 20px;
    border-radius: 50%;
    color: cyan;
}
.nav-content .col-xs-6 a:hover,.course-complete a:hover{
	color: #ff9900;
}
/* comment */
.cmt-text{
    height: 60px;
    width: 99%;
    box-shadow: 10px 10px 13px rgba(213,222,229,0.50) inset;
	resize: vertical;
}
.pull-right {
    border: none;
    padding: 10px 12px;
    font-weight: 500;
    margin: 10px 2px;
    width: 100px;
}
.submit-comment{
    margin-bottom: 15px;
	padding-bottom: 58px;
    border-bottom: 1px dashed #ccc;
}
.post{
	display: table;
    width: 100%;
    margin-bottom: 25px;
}
.post-detail{
	margin-bottom: 10px;
}
.owner-avatar{
	width: 60px;
    height: 60px;
    margin-right: 15px;
    float: left;
}
.owner-avatar img{
	width: 60px;
    height: 60px;
    border: 1px solid #ccc;
}
.replies{
	padding-left: 75px;
}
.post-content textarea{
	height: 60px;
	resize: vertical;
	width: 72%;
	box-shadow: 10px 10px 13px rgba(213,222,229,0.50) inset;
}

/* test */
.test-info{
	width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px 15px 15px;
    text-align: center;
}
.test-info .icon{
	width: 150px;
    height: 150px;
    margin: 15px 0;
}
.test-info .title {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
}
.test-info .detail p{margin: 0 0 10px;}
.test-info .detail .btn-start{
    background-color: #ff9900;
    padding: 8px 25px;
    color: #fff;
    font-size: 14px;
}

/* testing */
.form-question-wrapper {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
}
.form-question-header {
    margin-bottom: 20px;
    font-weight: bold;
}
.col-xs-12 {
    width: 100%;
}
.quiz-infomation {
    width: 50%;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
@media (min-width: 992px) 
.col-md-12 {
    width: 100%;
}
.margin-top-10 {
    margin-top: 10px;
}
.question {
    background: #fcf8e3;
    display: table;
    width: 97.5%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    word-break: break-word;
}


.col-md-2 {
    width: 16.66666667%;
	float: left;
	padding-right: 15px;
}
.question-info {
    background: #ececec;
    border-radius: 3px;
    position: relative;
	
	border: 1px solid #ddd;
    padding: 10px;
}

.question-info > span {
    display: block;
    margin-bottom: 10px;
    margin-left: 0px;
}
.question span {
    text-decoration: none !important;
}

.col-md-10 {
    width: 79%;
	float: left;
}
.question-detail {
    margin-bottom: 10px;
	background: #d9edf7;
    border-radius: 3px;
	border: 1px solid #ddd;
    padding: 10px;
    display: table;
    width: 100%;
    text-align: justify;
}
.question span.question-name-index, .question-detail > span.question-name {
font-weight: bold;
}
.question-detail > span.question-name {
    margin-left: 40px;
    margin-bottom: 10px;
    display: block;
}
.question-name {
    /*display: inline;*/
    background-color: transparent !important;
}
ul > li {
    list-style: none;
}
ul.lst-pa-dung-sai {
    padding-left: 7px;
}
ul.lst-phuong-an {
    margin-left: 0px;
    padding-left: 17px;
}
.cau-don-trac-nghiem-nhieu-lua-chon, .lst-phuong-an {
    margin-top: 10px;
}
.lst-phuong-an {
    position: relative;
}
.lst-phuong-an li {
    position: relative;
}
.lst-phuong-an .phuong-an-detail {
    float: left;
    margin-bottom: 10px;
/* width: calc(100% - 45px); */
}
.phuong-an-detail {
    text-align: justify;
}
.question-detail ul.lst-phuong-an > li {
    display: table;
    /* width: 100%; */
    /* line-height: 14px; */
    /* vertical-align: text-top; */
}
.lst-phuong-an li input {
    float: left;
    width: 13px;
    margin-top: 3px;
}
.lst-phuong-an li label {
    padding: 0 10px;
    float: left;
    width: 35px;
}
label {
    display: inline-block;
    max-width: 100%;
margin-bottom: 5px;
}
.margin-left {
    margin-left: 70px;
}
.right-position span > p, .lst-pa-dung-sai p, .lst-phuong-an p, label > p, .left-position p {
    display: inline;
}

.quiz-navigation {
    width: 97.5%;
    position: relative;
    border: 1px solid #ddd;
    display: table;
    padding: 10px;
    border-radius: 5px;
}
.quiz-navigation > .quiz-navigation-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.quiz-navigation > ul > li {
    width: 50px;
    padding: 2px;
    position: relative;
}
.list-inline > li {
    display: inline-block;
    /*padding-right: 5px;
    padding-left: 5px;*/
}
.quiz-navigation-item {
    position: relative;
}
.quiz-navigation > ul > li > .quiz-navigation-item > .quiz-content {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    height: 40px;
    line-height: 30px;
    text-align: center;
}
.quiz-navigation > ul > li > .quiz-navigation-item > .quiz-content a{
    color: #337ab7;
}
.quiz-navigation > ul > li > .quiz-navigation-item > .sign-bottom {
    position: absolute;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: #e1e1e1;
}
/* time count */
#clockdiv{
	color: #ff9900;
    font-size: 23px;
    font-weight: 700;
}
#clockdiv div {
	display: inline-block;
}
#clockdiv img{
	width: 4%;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 3px;
    margin: 0px 5px -5px 0;
}

.question-info .check-DS{
	position: absolute;
    top: 8px;
    left: 105px;
}